<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
	<appenders>
		<!--GENERAL LOGGING-->
		<RollingFile name="rollingLogger" fileName="C:/dev/tmp/log/pricinglab/pricinglab.log"
					 filePattern="C:/dev/tmp/log/pricinglab/%d{yyyy-MM-dd}/pricinglab-%d{yyyy-MM-dd}-%i.log.gz"
					 append="true">
			<PatternLayout
					pattern="%d{MM-dd-yyyy HH:mm:ss:SSS} | %t | %-5.5p | %X{CustomerId} | %X{AccountNumber} | %X{mdn} | %c{1} | %M | %L | %m%n"/>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>

        <!--QUARTZ LOGGING-->
        <RollingFile name="quartzRollingLogger" fileName="C:/dev/tmp/log/pricinglab/PRLTST1Server11/pricinglab-quartz.log"
                     filePattern="C:/dev/tmp/log/pricinglab/%d{yyyy-MM-dd}/pricinglab-quartz-%d{yyyy-MM-dd}-%i.log.gz"
                     immediateFlush="false" append="true">
            <PatternLayout pattern="%d{MM-dd-yyyy HH:mm:ss:SSS} | %t | %-5.5p | %X{CustomerId} | %X{AccountNumber} | %X{mdn} | %c{1} | %M | %L | %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy max="100" />
        </RollingFile>

        <!--SQL LOGGING-->
		<RollingFile name="sqlRollingLogger" fileName="C:/dev/tmp/log/pricinglab/pricinglab.sql"
					 filePattern="C:/dev/tmp/log/pricinglab/%d{yyyy-MM-dd}/pricinglab-%d{yyyy-MM-dd}-%i.sql.gz"
					 immediateFlush="false" append="true">
			<PatternLayout pattern="%d{MM-dd-yyyy HH:mm:ss:SSS} | %t | %-5.5p | %X{CustomerId} | %X{AccountNumber} | %X{mdn} | %c{1} | %M | %L | %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="100" />
		</RollingFile>

		<!--CONSOLE LOGGING.(NOT USED)-->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{MM-dd-yyyy HH:mm:ss:SSS} | %t | %-5.5p | %X{CustomerId} | %X{AccountNumber} | %X{mdn} | %c{1} | %M | %L | %m%n" />
		</Console>

	</appenders>

	<loggers>
		<logger name="com.vzwcorp" includeLocation="TRUE" level="DEBUG" additivity="false">
			<appender-ref ref="rollingLogger"/>
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
		</logger>

        <logger name="com.vzwcorp.pricinglab.service.HazelcastPrintService" includeLocation="TRUE" level="DEBUG"  additivity="false">
            <appender-ref ref="rollingLogger"/>
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
        </logger>

        <logger name="org.springframework.context" includeLocation="TRUE" level="INFO" additivity="false">
			<appender-ref ref="rollingLogger"/>
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
		</logger>

        <logger name="org.quartz" includeLocation="TRUE" level="DEBUG" additivity="false">
            <appender-ref ref="quartzRollingLogger"/>
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
        </logger>

        <logger name="java.sql" includeLocation="TRUE" level="DEBUG" additivity="false">
            <appender-ref ref="sqlRollingLogger"/>
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
        </logger>

        <logger name="oracle.jdbc" includeLocation="TRUE" level="DEBUG" additivity="false">
            <appender-ref ref="sqlRollingLogger"/>
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
        </logger>

        <logger name="org.hibernate" includeLocation="TRUE" level="INFO" additivity="false">
            <appender-ref ref="sqlRollingLogger"/>
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
        </logger>

		<logger name="org.hibernate.cache" includeLocation="TRUE" level="INFO" additivity="false">
			<appender-ref ref="sqlRollingLogger"/>
			<appender-ref ref="rollingLogger"/>
			<!--Note : Console Removed in PROD-->
			<appender-ref ref="console" />
		</logger>

        <logger name="org.hibernate.type" includeLocation="TRUE" level="INFO" additivity="false">
            <appender-ref ref="sqlRollingLogger"/>
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
        </logger>

        <logger name="org.hibernate.SQL" includeLocation="TRUE" level="INFO"  additivity="false">
            <appender-ref ref="sqlRollingLogger"/>
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
        </logger>

        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" includeLocation="TRUE" level="INFO"  additivity="false">
            <appender-ref ref="sqlRollingLogger"/>
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
        </logger>

        <root includeLocation="false" level="info">
            <!--Note : Console Removed in PROD-->
            <appender-ref ref="console" />
		</root>
	</loggers>

</configuration>
