#SAMPLE log4j.xml files. Contains composite policies of Timebased and SizeBased Rolling.

<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" shutdownHook="disable">
        <appenders>
                <RollingFile name="rollingLogger" fileName="/opt/../project_folder/project_folder.log"
                        filePattern="/opt/../project_folder/project_folder/%d{yyyy-MM-dd}/project_name-%d{yyyy-MM-dd}-%i.log.gz"
                        append="true">
                        <PatternLayout
                                pattern="[%d{MM-dd-yyyy HH:mm:ss:SSS}] | [%t] | [%-5.5p] | [%c{1}] | [%M] | [%L] | %m%n"/>
                        <Policies>
                                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                                <SizeBasedTriggeringPolicy size="50 MB" />
                        </Policies>
                        <DefaultRolloverStrategy max="100" />
                </RollingFile>
        <loggers>
                <logger name="com.dev" includeLocation="TRUE" level="DEBUG" additivity="false">
                        <appender-ref ref="rollingLogger" />
                </logger>
                <root includeLocation="false" level="INFO">
                        <appender-ref ref="console" />
                </root>
        </loggers>

</configuration>


#Reference : 
        1. log4j2 references : https://logging.apache.org/log4j/2.x/manual/appenders.html
        2. Spring boot pom.xml dependency 
                
                <dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-log4j2</artifactId>
		</dependency>
        
        3. Issues to be dealt with if not rolling properly : https://issues.apache.org/jira/browse/LOG4J2-551
        
        
